.clearfix::after{display: block; clear: both; content: ''; height: 0;}
.text{text-align: center;}
.box{width: 120px; height: 70px; text-align: center;}
.rank{border-left:1px solid #e0e0e0;border-right:1px solid #e0e0e0}
.agenda{margin-left: 20%;}